<html>
  <head>
    <title>cis197 piazza lite</title>
  </head>
  <body>
    <% if (user) { %>
    <h1>HAY THERE <%= user %> MY BOI </h1>
    <form method="POST">
      Question: <br/>
      <input type="text" name="question">
      <br/>
      <button type="submit">Add question</button>
    </form>
    <% } %>
    <a href="/account/signup">Sign up</a> for an account and a right ol good time ORRR
    <a href="/account/login">log in</a> to submit a question
    <ul>
        <% for (q in questions) { %>
          <li><%= questions[q].questionText %></li>
        <% } %>
    </ul>
    <a href="/account/logout">Log out</a>...good riddance!
  </body>
</html>
